{%- capture body_classes -%}
template-{{ template.name | handle }} {{ template.name }}-{{ template.suffix }} {{ template.name | append: '-' | append: handle }} {% if cart.item_count == 0 %}cart-empty{% endif %}
{%- endcapture -%}

{% liquid
  assign enable_rtl = settings.enable_rtl
  assign language_support_rtl = settings.language_support_rtl
  if enable_rtl and language_support_rtl != blank
    assign shop_locale = localization.language.iso_code
    assign language_support_rtl_list = language_support_rtl | split: ','
    assign is_rtl = language_support_rtl_list | where: shop_locale
    if is_rtl.size > 0
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  endif
%}
<!doctype html>
<html
  class="no-js supports-no-cookies"
  lang="{{ request.locale.iso_code }}"
  data-template="{{ template.name }}"
  {% if enable_rtl %}dir="rtl"{% endif %}
>
<head>{% render 'pagefly-head' %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<meta name="theme-color" content="{{ settings.color_primary }}">

  {%- liquid
    render 'preload'
    render 'SEO'
    render 'social-meta-tags'
    render 'font-face'
  -%}

  {% render 'critical-css' %}
  {% render 'critical-scripts' %}
  {% render 'custom-code-head' %}

  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'chunk.css' | asset_url | stylesheet_tag }}

  {% render 'style-tags' %}

  <script src="{{ 'theme-global.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'lazy-image.min.js' | asset_url }}" defer="defer"></script>

  {%- render 'header-scripts.zipifypages', renderctx: 'thm' -%}{{ content_for_header }}
  {% include 'teeinblue-scripts' %}

	{{ shop.metafields.loox["global_html_head"] }}
<!--Gem_Page_Header_Script-->
{% render 'gem-app-header-scripts' %}
<!--End_Gem_Page_Header_Script-->
{% include "omega_twitter_multi_pixel" %}</head>

<body
  id="sf-theme"
  class="{{ body_classes }} relative min-h-screen{% if customer %} customer-logged-in{% endif %}"
  {% if template.name == 'product' %}data-product-id="{{ product.id }}"{% endif %}
>
  {% render 'theme-data' %}
  
  
  {% render 'scroll-top-button' %}

  <main role="main" id="MainContent">
    <div class="foxify-container">{{ content_for_layout }}</div>
    <div id="cart-drawer-container"></div>
  </main>

  {%- liquid
  -%}

  {% section 'mobile-sticky-bar' %}

  {% render 'custom-code-body' %}
  {% render 'foxkit-messenger' %}
  {% render 'script-tags' %}

  <script src="{{ 'app.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'foxkit-app.min.js' | asset_url }}" defer="defer"></script>

  <script src="{{ 'quick-view.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-card-swatch.min.js' | asset_url }}" defer="defer"></script>

	{{ shop.metafields.loox["global_html_body"] }}
 {% if product %}
  <script type="text/javascript">
var _learnq = _learnq || [];
	document.getElementById("so-btn-add-to-cart-copy").addEventListener('click',function (){
 		_learnq.push(['track', 'Added to Cart', item]);
	});</script>
  {% endif %}
{%- render 'page-footer.zipifypages', renderctx: 'thm', ocuapp: oneclickupsellapp -%}
{% render 'oneclickupsellapp-theme', oneclickupsellapp: oneclickupsellapp %}
{% assign oneclickupsellapp = true %}
<!--Gem_Page_Footer_Script-->
{% render 'gem-app-footer-scripts', GEM_FOOTER_SCRIPT: GEM_FOOTER_SCRIPT %}
<!--End_Gem_Page_Footer_Script-->

</body>
</html>
