
        <div class="f-app f:content">
{{ 'foxify-footer.css' | asset_url | stylesheet_tag }}
{{ 'foxify-section-footer.css' | asset_url | stylesheet_tag }}<div id="f-1714549623xhzPy" class="f:sections f:footer f-1714549623xhzPy f:section--no-margin"><div class="f:container"><div class="f:footer__top"><div id="f-1714549623nCT2x" class="f:blocks f:grid f-1714549623nCT2x" style="--f-grid-columns-sm:minmax(0, 12fr);--f-grid-columns-md:minmax(0, 6fr) minmax(0, 6fr);--f-grid-columns-lg:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--f-grid-columns-xl:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr)"><div id="f-1714549623Vlp9u" class="f:blocks f:col f-1714549623Vlp9u f:column"><h3 id="f-1714549623jljmL" class="f:blocks f:heading f-1714549623jljmL f:content-block"><span>
{{ 'sections.foxify-footer.f-1714549623jljmL-text_html' | t }}</span></h3><div id="f-1714549623HVYfX" class="f:blocks f:menu-block f-1714549623HVYfX">{% liquid 
        assign menu_f-1714549623HVYfX = shop.metafields.foxify.menus.value['undefined']
      %}{% if menu_f-1714549623HVYfX %}<ul class="f:list-none">{% for item in menu_f-1714549623HVYfX %}<li><a href="{{ item.link }}">{{ item.label }}</a></li>{% endfor %}</ul>{% endif %}</div></div><div id="f-1714549623ix7RH" class="f:blocks f:col f-1714549623ix7RH f:column"><h3 id="f-1714549623P44eJ" class="f:blocks f:heading f-1714549623P44eJ f:content-block"><span>
{{ 'sections.foxify-footer.f-1714549623P44eJ-text_html' | t }}</span></h3><div id="f-1714549623Q59ab" class="f:blocks f:menu-block f-1714549623Q59ab">{% liquid 
        assign menu_f-1714549623Q59ab = shop.metafields.foxify.menus.value['undefined']
      %}{% if menu_f-1714549623Q59ab %}<ul class="f:list-none">{% for item in menu_f-1714549623Q59ab %}<li><a href="{{ item.link }}">{{ item.label }}</a></li>{% endfor %}</ul>{% endif %}</div></div><div id="f-1714549623CVbdt" class="f:blocks f:col f-1714549623CVbdt f:column"><h3 id="f-1714549623LTuFv" class="f:blocks f:heading f-1714549623LTuFv f:content-block"><span>
{{ 'sections.foxify-footer.f-1714549623LTuFv-text_html' | t }}</span></h3><div id="f-1714549623IBheX" class="f:blocks f:richtext f-1714549623IBheX f:content-block f:rte">
{{ 'sections.foxify-footer.f-1714549623IBheX-text_html' | t }}</div><div id="f-17145496231Fz4Y" class="f:blocks f:subscribe-form f-17145496231Fz4Y f:content-block">{{ 'foxify-newsletter.css' | asset_url | stylesheet_tag }}<div class="f:newsletter-form f:newsletter-form--btn-text">{% form 'customer', id: ContactSubscribe-f-17145496231Fz4Y %}<input type="hidden" name="contact[tags]" value="newsletter"/><label class="f:block f:newsletter-form__label f:visually-hidden" for="ContactSubscribe-f-17145496231Fz4Y-email">{{ translation.newsletter.label }}</label><div class="f:newsletter-form__wrapper f:flex"><input type="email" name="contact[email]" id="ContactSubscribe-f-17145496231Fz4Y-email" placeholder="
{{ 'sections.foxify-footer.f-17145496231Fz4Y-email_placeholder_html' | t }}" autoCorrect="off" autoCapitalize="off" class="f:form-control" required="" value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"/><button type="submit" aria-label="" class="f:newsletter-form__submit f:btn "><span>Subscribe</span></button></div>{%- if form.posted_successfully? -%}<div class="f:form-status"><div class="f:form-message--success" data-form-status="true" tabindex="-1" autofocus="">{{ translation.newsletter.success }}</div></div>{%- endif -%}{%- if form.errors -%}<div class="f:form-status"><div class="f:form-status__error f:form-message--error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</div></div>{% endif %}{% endform %}</div></div></div></div></div><div class="f:footer__bottom f:footer__bottom--show-divider"><div class="f:footer__copyright">
{{ 'sections.foxify-footer.f-1714549623xhzPy-copyright_html' | t }}</div></div></div></div>

</div>
        {% schema %}
        {
            "name": "Foxify footer",
            "class": "foxify-footer f-app",
            "settings": [
                {
                    "type": "header",
                    "content": "Customize section",
                    "info": "Go to [Foxify app](https://app.foxify.io) to edit this section."
                }
            ],
            "locales": {
  "en": {
    "f-1714549623jljmL-text_html": "Information",
    "f-1714549623P44eJ-text_html": "Quick links",
    "f-1714549623LTuFv-text_html": "Subscribe to our emails",
    "f-1714549623IBheX-text_html": "<p>You deserve to feel good. Subscribe to our newsletter.</p>",
    "f-17145496231Fz4Y-email_placeholder_html": "Enter your email",
    "f-1714549623xhzPy-copyright_html": "&copy; 2023, Foxify Powered by FoxEcom"
  }
}
        }
        {% endschema %}
    